---
layout: info
permalink: /events/
title: Events
---

{% assign now = site.time %}
{% assign today = 'now' | date: '%F' | to_time %}
{% assign one_week = '' | start_of_week_as_epoch | plus: 604800 | epoch_to_time %}
{% assign two_weeks = '' | start_of_week_as_epoch | plus: 1209600 | epoch_to_time %}
{% assign one_month = '' | start_of_next_month  %}

<!-- <br> -->

{% comment %} todo: remove hardcoding {% endcomment %}
{% comment %} 
<select class="dropdown--blue" id="area-filter">
  <option value="all" selected>All Events</option>
  <option value="music">Music</option>
  <option value="drama">Drama</option>
  <option value="dance">Dance</option>
  <option value="visual-arts">Visual & Digital Arts</option>
  <option value="central-arts">Central Arts</option>
</select>
{% endcomment %}

{% for filter in site.data.event_timeline %}
  {%- assign filtered_events = site.events | where_exp: "evt", filter.expr | sort_natural: "title" -%}
  {% if filtered_events.size > 0 %}
    <div class="list-group">
      <!-- <h2 class="list-group__heading" id="{{ filter.name | slugify }}">{{ filter.name }}</h2> -->
      <div class="list-group__list">
        {%- for event in filtered_events -%}
          {%- if event.current -%}
            {%- include event-node.html content=event.content show_date=true -%}
          {%- else -%}
            {%- include event-node.html content=event.excerpt button=true -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  {% endif %}
{% endfor %}
