<section class="at-a-glance content">
  <div class="title">
    <h1>{{ include.title }}</h1>
    <h2>{{ include.subtitle }}</h2>
  </div>
  {%- if include.social_media == true -%}
  {%- assign dept = site.data.departments[page.tag] -%}
  <div class="social-media">
    {%- for social in dept.socials -%}
      <span>
        <i data-feather="{{ social.icon }}" class="social-icon"></i>
        <a href="{{social.hyperlink}}" class="social-at">
          {{ social.at }}
        </a>
      </span>
    {%- endfor -%}
  </div>
  {%- endif -%}

  <ul class="post-list">
    {%- assign post_count = 0 -%}
    {%- assign posts = site.posts -%}

    {%- for post in posts -%}
      {%- if post_count >= 3 -%} {%- break -%} {%- endif -%}
      {%- if include.tag == nil or post.tags contains include.tag -%}
        <li class="post">
          <div class="post-author">
            <span class="author__image">
              {%- assign author = site.data.members.members | where:"name",post.author | first -%}
              <img src="{{ "/assets/img" | append: author.headshot | relative_url }}" alt="{{ post.author }}">
            </span>
            <div class="author__text">
              <span class="author__name">{{ post.author }}</span>
              <span class="post__date">{{ post.date | date: "%b %-d, %Y" }}</span>
            </div>
          </div>
          <h4 class="post-title">{{ post.title }}</h4>
          <p class="post-body">{{ post.excerpt | strip_html | strip_newlines | truncatewords: 30 }}</p>
        </li>
        {% assign post_count = post_count | plus:1 %}
      {%- endif -%}
    {%- endfor -%}
  </ul>
</section>