* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $body-font;
  font-weight: 300;
  background-color: $white;
  display: flex;
  flex-flow: column;
}

main {
  flex: 1 0 unquote("calc(100% - 80px - 58px)");
  padding: 1rem;
}


// .h1, .h2 exist to maintain semantics
h1, .h1 {
  font-family: $title-font;
  font-weight: 500;
  color: $charcoal;
}

h2, .h2 {
  font-family: $title-font;
  font-weight: 300;
  color: $charcoal;
}

a {
  color: darken($blue, 50%);
}

p {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
}


$border-size: 1rem;
.framed {
  $shadow-size: 15px;
  border: $border-size solid $charcoal;
  box-shadow: -$shadow-size $shadow-size $blue;
  margin-left: $shadow-size;
  margin-bottom: $shadow-size;
}

@mixin content-width {
  width: unquote("min(85%, 1100px)");
  margin: 0 auto;
}

.mw-100 {
  max-width: 100%;
}

.content {
  @include content-width;
  margin-bottom: 2rem;

  .title {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid lighten($charcoal, 60%);

    h1 {
      font-size: 4rem;
      line-height: 1.2;
    }

    h2 {
      font-size: 2rem;
    }

    @include mq($on-palm) {
      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 1.5rem;
      }
    }
  }
}
