.site-header {
  width: 100%;
  min-height: $header-height;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $charcoal;
  color: $white;
  padding: 0 3rem;
  z-index: 10;

  .site-logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.5rem 0;

    img {
      height: 100%;
      object-position: left;
    }
  }

  .nav-trigger {
    display: none;
  }
  .menu-icon {
    display: none;
  }

  .site-nav {
    height: 100%;

    .nav-list {
      height: 100%;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    .nav-item {
      height: 100%;
      position: relative;

      .nav-list {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        display: flex;
        flex-flow: column;
        text-align: center;
        background-color: $charcoal;

        .nav-item {
          width: 100%;
          padding: 0.25rem;
        }
      }

      &:hover {
        background-color: darken($charcoal, 5%);

        .nav-list {
          width: auto;
          height: auto;
        }
      }
    }

    .nav-link {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 1rem;
      font-family: $title-font;
      font-size: 1.25em;
      color: $white;
      text-decoration: none;
      cursor: pointer;
    }
  }

  @include mq($on-laptop) {
    display: block;
    padding: 0;

    .site-logo {
      height: 80px;

      img {
        width: 100%;
      }
    }

    label[for="nav-trigger"] {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      cursor: pointer;
      height: 80px;
      padding: 1rem;
    }
    .menu-icon {
      display: block;
      width: 2rem;
      height: 2rem;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    input ~ .site-nav {
      display: none;
    }

    input:checked ~ .site-nav {
      display: block;
    }

    .site-nav {
      position: absolute;
      top: 100%;
      width: 100%;
      height: auto;
      background-color: $charcoal;

      .nav-list {
        margin: 1rem 0;
        flex-flow: column;
        gap: 1rem;
      }
    }
  }
}
