/* Lemon Milk */
@font-face {
  font-family: "Lemon Milk";
  src: url("/assets/fonts/LEMONMILK-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lemon Milk";
  src: url("/assets/fonts/LEMONMILK-RegularItalic.otf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Lemon Milk";
  src: url("/assets/fonts/LEMONMILK-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lemon Milk";
  src: url("/assets/fonts/LEMONMILK-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Lemon Milk";
  src: url("/assets/fonts/LEMONMILK-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lemon Milk";
  src: url("/assets/fonts/LEMONMILK-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Lemon Milk";
  src: url("/assets/fonts/LEMONMILK-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Lemon Milk";
  src: url("/assets/fonts/LEMONMILK-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}
/* Champagne & Limousines */
@font-face {
  font-family: "Champagne & Limousines";
  src: url("/assets/fonts/Champagne & Limousines.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Champagne & Limousines";
  src: url("/assets/fonts/Champagne & Limousines Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Champagne & Limousines";
  src: url("/assets/fonts/Champagne & Limousines Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Champagne & Limousines";
  src: url("/assets/fonts/Champagne & Limousines Bold Italic.ttf");
  font-weight: bold;
  font-style: italic;
}
/* Fonts */
/* Colors */
/* Media Queries */
/* Use like so:
 *
 * @include mq($on-palm | $on-device) {
 *   css styles...
 * }
 *
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Champagne & Limousines", sans-serif;
  font-weight: 300;
  background-color: #f2f8f8;
  display: flex;
  flex-flow: column;
}

main {
  flex: 1 0 calc(100% - 80px - 58px);
  padding: 1rem;
}

h1, .h1 {
  font-family: "Lemon Milk", sans-serif;
  font-weight: 500;
  color: #3b3b54;
}

h2, .h2 {
  font-family: "Lemon Milk", sans-serif;
  font-weight: 300;
  color: #3b3b54;
}

a {
  color: rgb(43.5, 82.5, 109.5);
}

p {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.framed {
  border: 1rem solid #3b3b54;
  box-shadow: -15px 15px #b6d0e2;
  margin-left: 15px;
  margin-bottom: 15px;
}

.mw-100 {
  max-width: 100%;
}

.content {
  width: min(85%, 1100px);
  margin: 0 auto;
  margin-bottom: 2rem;
}
.content .title {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid rgb(219.1678321678, 219.1678321678, 229.8321678322);
}
.content .title h1 {
  font-size: 4rem;
  line-height: 1.2;
}
.content .title h2 {
  font-size: 2rem;
}
@media screen and (max-width: 600px) {
  .content .title h1 {
    font-size: 2rem;
  }
  .content .title h2 {
    font-size: 1.5rem;
  }
}

a.button-large:hover, a.button-large {
  transition: all 0.1s;
}

a.button-large {
  display: inline-block;
  background-color: #3b3b54;
  border-radius: 100px;
  padding: 1rem 2rem;
  color: white;
  font-size: 1.25rem;
  font-family: "Lemon Milk", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  box-shadow: -7px 10px #b6d0e2;
  margin-left: 7px;
  margin-bottom: 10px;
}
a.button-large:hover {
  box-shadow: -4px 7px #b6d0e2;
  transform: translate(-3px, 3px);
}
@media screen and (max-width: 1000px) {
  a.button-large {
    font-size: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

.list-group__list .img-wrapper {
  float: left;
  margin-right: 2.5rem;
  margin-bottom: 1rem;
  min-width: initial;
  max-width: 300px;
}
.list-group__list .img-wrapper img {
  height: 300px;
  min-height: initial;
}
.list-group__list .img-wrapper img {
  width: 100%;
  object-fit: cover;
}
.standalone .list-group__list .img-wrapper {
  min-width: 300px;
  max-width: 400px;
}
.standalone .list-group__list .img-wrapper img {
  height: auto;
  min-height: 100px;
}

@media screen and (max-width: 1000px) {
  .list-group__list .img-wrapper {
    min-width: initial;
    max-width: 225px;
  }
  .list-group__list .img-wrapper img {
    height: 300px;
    min-height: initial;
  }
}
@media screen and (max-width: 800px) {
  .list-group__list .img-wrapper {
    float: none;
    margin: auto;
    min-width: initial;
    max-width: 300px;
  }
  .list-group__list .img-wrapper img {
    height: 200px;
    min-height: initial;
  }
}

.site-header {
  width: 100%;
  min-height: 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b3b54;
  color: #f2f8f8;
  padding: 0 3rem;
  z-index: 10;
}
.site-header .site-logo {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0.5rem 0;
}
.site-header .site-logo img {
  height: 100%;
  object-position: left;
}
.site-header .nav-trigger {
  display: none;
}
.site-header .menu-icon {
  display: none;
}
.site-header .site-nav {
  height: 100%;
}
.site-header .site-nav .nav-list {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.site-header .site-nav .nav-item {
  height: 100%;
  position: relative;
}
.site-header .site-nav .nav-item .nav-list {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  text-align: center;
  background-color: #3b3b54;
}
.site-header .site-nav .nav-item .nav-list .nav-item {
  width: 100%;
  padding: 0.25rem;
}
.site-header .site-nav .nav-item:hover {
  background-color: rgb(48.479020979, 48.479020979, 69.020979021);
}
.site-header .site-nav .nav-item:hover .nav-list {
  width: auto;
  height: auto;
}
.site-header .site-nav .nav-link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  font-family: "Lemon Milk", sans-serif;
  font-size: 1.25em;
  color: #f2f8f8;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .site-header {
    display: block;
    padding: 0;
  }
  .site-header .site-logo {
    height: 80px;
  }
  .site-header .site-logo img {
    width: 100%;
  }
  .site-header label[for=nav-trigger] {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    height: 80px;
    padding: 1rem;
  }
  .site-header .menu-icon {
    display: block;
    width: 2rem;
    height: 2rem;
  }
  .site-header .menu-icon svg {
    width: 100%;
    height: 100%;
  }
  .site-header input ~ .site-nav {
    display: none;
  }
  .site-header input:checked ~ .site-nav {
    display: block;
  }
  .site-header .site-nav {
    position: absolute;
    top: 100%;
    width: 100%;
    height: auto;
    background-color: #3b3b54;
  }
  .site-header .site-nav .nav-list {
    margin: 1rem 0;
    flex-flow: column;
    gap: 1rem;
  }
}

.site-footer {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: #3b3b54;
  color: #f2f8f8;
}

.at-a-glance {
  width: 20%;
  flex: 0 0 20%;
  order: -1;
}
.department .at-a-glance {
  width: 30%;
  flex: 0 0 30%;
}
@media screen and (max-width: 800px) {
  .at-a-glance, .department .at-a-glance {
    width: min(85%, 1100px);
    margin: 0 auto;
    order: 2;
    margin-bottom: 1.5rem;
    flex: unset;
  }
}
.at-a-glance h1,
.at-a-glance h2 {
  text-transform: uppercase;
  text-align: center;
}
.at-a-glance h1 {
  font-size: 4em;
  line-height: 1;
}
.at-a-glance h2 {
  font-size: 1.25em;
}
@media screen and (max-width: 800px) {
  .at-a-glance h1 {
    font-size: 2.5rem;
  }
}
.at-a-glance hr {
  border: none;
  height: 1.5px;
  background-color: #3b3b54;
  margin: 1rem 0;
}
.at-a-glance .social-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid rgb(219.1678321678, 219.1678321678, 229.8321678322);
}
.at-a-glance .social-media span {
  padding-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  vertical-align: middle;
  flex-basis: 40%;
}
.at-a-glance .social-media .social-icon {
  vertical-align: middle;
  width: 25px;
  height: 25px;
}
.at-a-glance .social-media .social-at {
  transform: translate(-50%, -50%);
  padding-left: 10px;
}
.at-a-glance .post-list {
  list-style: none;
}
.at-a-glance .post {
  width: 100%;
  border-bottom: 0.5px solid #3b3b54;
  margin-bottom: 1rem;
}
.at-a-glance .post .post-author {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.at-a-glance .post .post-author .author__image {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: dodgerblue;
  overflow: hidden;
}
.at-a-glance .post .post-author .author__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.at-a-glance .post .post-author .author__text {
  display: inline-block;
}
.at-a-glance .post .post-author .author__text span {
  display: block;
}
.at-a-glance .post .post-author .author__text .author__name {
  font-weight: bold;
}
.at-a-glance .post .post-author .author__text .post__date {
  font-size: 0.75em;
}
.at-a-glance .post .post-title {
  line-height: 1;
}
.at-a-glance .post .post-body {
  margin-bottom: 0.25rem;
}

.home {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .home {
    flex-flow: column;
  }
}

.main {
  margin-left: 5rem;
  padding: 2rem 0;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  max-height: calc(100vh - 80px);
}
.main .title {
  place-self: center center;
  display: flex;
  flex-flow: column;
  text-align: right;
  font-size: 5em;
  font-weight: 400;
  line-height: 1;
}
.main .title span:last-child {
  font-weight: 300;
  font-size: 0.5em;
}
@media screen and (max-width: 800px) {
  .main .title {
    order: -1;
  }
}
.main div {
  transition: transform 0.2s ease;
}
.main div:hover {
  transform: scale(1.1);
}
.main div a {
  text-decoration: none;
}
.main div h1 {
  font-size: 2.5vw;
  line-height: 1.2em;
}
.main div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 15px solid #3b3b54;
  background-color: #3b3b54;
}
.main #drama a {
  height: 100%;
  display: flex;
  flex-flow: column-reverse;
}
@media screen and (max-width: 800px) {
  .main {
    display: flex;
    flex-flow: column;
    margin-left: 0;
    max-height: none;
  }
  .main div {
    text-align: center;
  }
  .main div h1 {
    font-size: 2.5em;
  }
  .main div img {
    height: auto;
  }
}
@media screen and (min-width: 1000px) {
  .main {
    column-gap: 2rem;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    grid-template-rows: 1.5fr 1fr;
    background: url("/assets/img/background.svg") center 90%/90% no-repeat;
  }
  .main #visual-arts {
    place-self: start end;
    width: 18vw;
    height: 38vh;
    margin-top: 3.125rem;
    display: flex;
    position: relative;
  }
  .main #visual-arts h1 {
    position: absolute;
    top: -1.25em;
    left: -1.25em;
    width: 100%;
    height: 100%;
  }
  .main #visual-arts h1 span:first-child {
    display: block;
    writing-mode: vertical-rl;
    transform: translateY(1.5em) rotate(180deg);
    text-align: right;
  }
  .main #visual-arts h1 span:last-child {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    text-align: left;
    transform: translateX(1.25em);
  }
  .main #music {
    place-self: start end;
    width: 24vw;
    height: 25vh;
  }
  .main #dance {
    place-self: center center;
    width: 16vw;
    height: 44vh;
    grid-row: span 2;
  }
  .main #drama {
    display: initial;
    place-self: end start;
    width: 24vw;
    height: 30vh;
  }
}

.listing {
  display: flex;
  flex-flow: column nowrap;
}
.listing h2 {
  font-size: 2.5rem;
  color: #3b3b54;
  font-weight: 400;
}
.listing h3 {
  font-size: 1.5rem;
  color: #3b3b54;
  font-weight: 600;
  text-transform: uppercase;
}
.listing > div {
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  margin: 1.25rem;
}
.listing > div .info {
  margin-top: 0.4rem;
  margin-left: 1.5rem;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 100%;
}
.listing > div .info p {
  font-size: 1.25rem;
  margin: 0.75rem 0;
  letter-spacing: 0.5px;
}
.listing > div .info img,
.listing > div .info iframe {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.listing > div .img-wrapper {
  display: flex;
  min-width: 450px;
  max-height: 500px;
  height: auto;
  flex-shrink: 2;
}
.listing > div .img-wrapper.small {
  min-width: unset;
  max-width: 225px;
  max-height: 300px;
}
.listing > div .img-wrapper img {
  width: 100%;
  object-fit: cover;
  max-height: 350px;
}
@media screen and (max-width: 1000px) {
  .listing > div .img-wrapper {
    min-width: 300px;
  }
}
@media screen and (max-width: 800px) {
  .listing > div {
    flex-flow: column nowrap;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }
  .listing > div .info {
    text-align: center;
    margin-top: 1rem;
    margin-left: 0;
  }
  .listing > div .info > * {
    width: 100%;
  }
  .listing > div .img-wrapper {
    width: 80%;
    max-width: unset;
  }
  .listing h2 {
    font-size: 1.5rem;
  }
}
.listing.two {
  flex-flow: row wrap;
}
.listing.two > div {
  width: calc(50% - 2.5rem);
}
.listing.two > div .img-wrapper {
  min-width: 220px;
  max-height: 300px;
}
@media screen and (max-width: 1250px) {
  .listing.two {
    flex-flow: column nowrap;
  }
  .listing.two > div {
    width: auto;
  }
  .listing.two > div .img-wrapper {
    max-width: 200px;
  }
}

.calendar-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}
@media screen and (max-width: 800px) {
  .calendar-wrapper {
    display: flex;
    flex-flow: column-reverse;
  }
}

section.filter {
  padding: 1rem 2rem;
  font-size: 1.25em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--fc-button-bg-color, #2C3E50);
}
section.filter h2 {
  display: inline-block;
}
section.filter .filter-toggles {
  display: inline-flex;
}
section.filter .filter-toggles .filter-toggle {
  cursor: pointer;
}
section.filter .filter-toggles .filter-toggle:not(:last-child) {
  border-right: 1px solid #3b3b54;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}
section.filter .filter-toggles .filter-toggle:hover {
  text-decoration: underline;
}
section.filter .filter-list {
  list-style: none;
}
section.filter .filter-list .filter-item > * {
  cursor: pointer;
  user-select: none;
}

.department {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.department .content {
  margin: 0 auto;
  position: relative;
  padding: 0 2.5rem;
}
.department :not(.at-a-glance) .title {
  margin-left: 1rem;
  margin-right: 1rem;
}
.department .at-a-glance {
  background-color: rgb(225.8, 236.2, 243.4);
  padding: 1rem;
  margin-right: 1rem;
}
.department .at-a-glance .title h1 {
  font-size: 3rem;
  font-weight: initial;
}
.department .at-a-glance .title h2 {
  font-size: 1.5rem;
}
@media screen and (max-width: 1200px) {
  .department .listing > div {
    flex-flow: column nowrap;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }
  .department .listing > div .info {
    text-align: center;
    margin-top: 1rem;
    margin-left: 0;
  }
  .department .listing > div .info > * {
    width: 100%;
  }
  .department .listing > div .img-wrapper {
    width: 80%;
    max-width: unset;
  }
  .department .listing h2 {
    font-size: 1.5rem;
  }
  .department .title h1 {
    padding: 0;
  }
}
@media screen and (max-width: 1000px) {
  .department {
    flex-direction: column;
    justify-content: revert;
    align-items: center;
  }
  .department .content {
    margin-bottom: 1rem;
  }
  .department .at-a-glance {
    order: 2;
    margin: 1rem 0;
    width: min(85%, 1100px);
    margin: 0 auto;
  }
}

#contact {
  margin: 1rem 1.25rem;
}
#contact .h1 {
  font-size: 2.5rem;
}
#contact .h2 {
  font-size: 1.5rem;
}
@media screen and (max-width: 800px) {
  #contact {
    margin: 1rem 0;
  }
  #contact .h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  #contact .h2 {
    font-size: 1.25rem;
  }
}
#contact .contact__list {
  display: flex;
  flex-wrap: wrap;
}
#contact .contact__list > div {
  width: 50%;
  display: block;
  margin: 0.5rem 0;
}
#contact .contact__list p {
  font-size: 1.25rem;
  margin-top: 0.25rem;
}
#contact .contact__list svg {
  margin-right: 1rem;
  height: 1.1rem;
  vertical-align: text-top;
}
@media screen and (max-width: 1000px) {
  #contact .contact__list {
    flex-flow: column nowrap;
  }
  #contact .contact__list > div {
    width: 100%;
  }
}

.feed {
  list-style: none;
}
.feed .post {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0.75rem 1rem;
  border: 2px solid #3b3b54;
  margin-bottom: 1rem;
}
.feed .post .post-author {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.feed .post .post-author .author__image {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: dodgerblue;
  overflow: hidden;
}
.feed .post .post-author .author__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feed .post .post-author .author__text {
  display: inline-block;
  font-size: 1.25em;
}
.feed .post .post-author .author__text span {
  display: block;
}
.feed .post .post-author .author__text .author__name {
  font-weight: bold;
}
.feed .post .post-author .author__text .post__date {
  font-size: 0.75em;
}
.feed .post .post-title {
  line-height: 1;
  font-size: 1.5em;
}
.feed .post .post-excerpt {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgb(129.2937062937, 129.2937062937, 166.7062937063);
}
.feed .post .post-link {
  text-decoration: none;
}
.feed .post .post-link:hover {
  text-decoration: underline;
}

.post {
  border: 2px solid #3b3b54;
  padding: 0.5rem 1rem;
  font-size: 1.25em;
}
.post .post-author {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.post .post-author .author__image {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: dodgerblue;
  overflow: hidden;
}
.post .post-author .author__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post .post-author .author__text {
  display: inline-block;
  font-size: 1.25em;
}
.post .post-author .author__text span {
  display: block;
}
.post .post-author .author__text .author__name {
  font-weight: bold;
}
.post .post-author .author__text .post__date {
  font-size: 0.75em;
}
.post .post-title {
  line-height: 1;
  font-size: 1.5em;
  margin: 0.75rem 0;
}
.post img {
  max-width: 100%;
}

.councils {
  list-style: none;
  margin: 0;
  padding: 0;
}
.councils__description {
  font-size: 1.1em;
  letter-spacing: 0.5px;
  padding: 0.75em 0;
}
.councils .council_tab_buttons {
  display: flex;
  margin: 0.5em 0;
  width: 100%;
}
.councils .council_tab_buttons .title {
  margin-left: 0.5em;
  margin-bottom: 0.05em;
  padding: 0.8em 0.6em;
  background-color: #D9D9D9;
  border: #3b3b54 solid 0.1em;
  border-radius: 0.75em;
  /*      width: 100%;  */
  cursor: pointer;
  flex: 1;
  display: table;
}
.councils .council_tab_buttons .title p {
  font-family: "Lemon Milk", sans-serif;
  font-size: 1.1em;
  color: #3b3b54;
  display: table-cell;
  vertical-align: middle;
}
.councils .council_tab_buttons .title:first-child {
  margin-left: 0;
}
.councils .council_tab_buttons {
  /*.title:hover{
    background-color: $dark-gray;
  }*/
}
.councils .council_info_box {
  background-color: #EDEDED;
  border: #3b3b54 solid 0.1em;
  border-radius: 0.75em;
  margin-bottom: 2em;
  padding: 2.5em 3.5em;
}
.councils .council_info_box .council-chairs {
  display: flex;
  margin: 1em 0;
}
.councils .council_info_box .council-chairs .council-chair__name {
  font-family: "Lemon Milk", sans-serif;
  font-size: 1.4em;
  color: #3b3b54;
  line-height: 1em;
  margin-bottom: 0.1em;
  overflow-wrap: anywhere;
}
.councils .council_info_box .council-chairs .council-chair__position {
  color: #3b3b54;
  font-size: 1.25em;
  opacity: 75%;
}
.councils .council_info_box .council-chairs .council-chair__description {
  font-size: 1.1em;
  letter-spacing: 0.5px;
  margin: 0.5em 0;
}
.councils .council_info_box .council-chairs .council-chair-box {
  flex: 1;
  margin-left: 1.75em;
}
.councils .council_info_box .council-chairs .council-chair-box .council-chair-info-container {
  display: flex;
}
.councils .council_info_box .council-chairs .council-chair-box .council-chair-info-container .council-chair-info {
  margin-left: 0.75em;
  align-self: flex-end;
}
.councils .council_info_box .council-chairs .council-chair-box .council-chair-info-container img.framed {
  max-width: 8em;
  min-width: 8em;
  min-height: 8em;
  max-height: 8em;
  border: 7px solid #3b3b54;
  box-shadow: -7px 7px #b6d0e2;
  margin-left: 7px;
  margin-bottom: 7px;
  object-fit: cover;
}
.councils .council_info_box .council-chairs .council-chair-box .council-chair-info-container:first-child {
  margin-left: 0;
}
.councils .council_info_box .council-chairs .council-chair-box:first-child {
  margin-left: 0;
}
.councils .council_info_box .council-members-title {
  padding-bottom: 0.2em;
  font-size: 1.5em;
}
.councils .council_info_box .council-member-row {
  overflow: auto;
}
.councils .council_info_box .council-member-row .member-name {
  padding-bottom: 0.1em;
  font-size: 1.1em;
  width: 20%;
  float: left;
}

.section-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 900px) {
  /* stack name/pic/position on top of description */
  .councils__description {
    text-align: center;
  }
  .councils .council_info_box .council-chairs {
    margin-top: 1.5em;
    display: block;
  }
  .councils .council_info_box .council-chairs .council-chair-box {
    margin-bottom: 1.5em;
    margin-left: 0;
  }
  .councils .council_info_box .council-chairs .council-chair-box .council-chair__description {
    text-align: center;
  }
  .councils .council_info_box .council-chairs .council-chair-box .council-chair-info-container {
    display: flex;
    justify-content: center;
    text-align: center;
    display: block;
  }
  .councils .council_info_box .council-chairs .council-chair-box .council-chair-info-container img.framed {
    margin-bottom: 0.8em;
  }
  .councils {
    /* makes tab buttons go vertically adjacent to each other */
  }
  .councils .council_tab_buttons {
    display: block;
    margin-bottom: 1em;
  }
  .councils .council_tab_buttons .title {
    margin: 0.5em 0;
    width: 100%;
  }
}
@media screen and (max-width: 1250px) and (min-width: 900px) {
  /* name/pic/position/description go side by side instead of on top of each other */
  .councils .council_info_box .council-chairs {
    display: block;
  }
  .councils .council_info_box .council-chairs .council-chair-info-container {
    flex: 1;
    margin-right: 1em;
  }
  .councils .council_info_box .council-chairs .council-chair-info-container img {
    align-self: flex-end;
  }
  .councils .council_info_box .council-chairs .council-chair__description {
    flex: 1;
    align-self: flex-end;
    overflow-y: auto;
    max-height: 7em;
  }
  .councils .council_info_box .council-chairs .council-chair-box {
    margin-bottom: 1.5em;
    margin-left: 0;
    display: flex;
  }
}
@media screen and (max-width: 1000px) {
  /* three members per row rather than five */
  .councils .council_info_box .council-member-row .member-name {
    width: 33%;
  }
}
@media screen and (max-width: 500px) {
  /* two members per row rather than five */
  .councils .council_info_box .council-member-row .member-name {
    width: 50%;
    line-height: 0.8em;
    padding-bottom: 0.4em;
  }
}
svg {
  margin-left: -0.3rem;
  height: 1.1rem;
  vertical-align: text-top;
}

h4 {
  color: #6fa8dc;
  margin-top: 0.4rem;
}

a {
  text-decoration: none;
  color: #6fa8dc;
}

.list-group__list ~ h2, .list-group__heading {
  margin-bottom: 0.5rem;
  border-bottom: 2px solid rgba(225.1594405594, 225.1594405594, 234.0405594406, 0.7);
  padding-bottom: 0.5rem;
}

.dropdown--blue {
  padding: 7px;
  background-color: #7fb2df;
  color: white;
  font-family: "Lemon Milk", sans-serif;
  font-weight: 300;
  border: none;
  border-radius: 3px;
  float: right;
}
.dropdown--blue option {
  font-family: "Lemon Milk", sans-serif;
  background-color: white;
  color: black;
}

.event__title {
  font-size: 2.5rem;
  color: #3b3b54;
  font-weight: 400;
  font-family: "Lemon Milk", sans-serif;
}
@media screen and (max-width: 1000px) {
  .event__title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .event__title {
    font-size: 1.7rem;
  }
}
.event__title + hr {
  border: 1px solid rgba(225.1594405594, 225.1594405594, 234.0405594406, 0.7);
  margin: 0.5rem 0 0.7rem;
}
.event__info {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}
@media screen and (max-width: 800px) {
  .event__info {
    margin-left: 0;
  }
}
.event__description {
  margin-top: 1rem;
}
.event__description p {
  margin-bottom: 1rem;
}
.event__date {
  color: #bbb;
  font-family: "Champagne & Limousines", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.event__img {
  position: relative;
  margin-left: 1rem;
}
.event__tag {
  color: #3b3b54;
  font-family: "Lemon Milk", sans-serif;
  font-size: 1.6rem;
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: left bottom;
  bottom: 1.7rem;
  left: 0.8rem;
}

.list-group {
  margin: 1.5rem 0 1rem;
}
.list-group__heading {
  font-size: 1.7rem;
  color: #6fa8dc;
  font-weight: 400;
  font-family: "Lemon Milk", sans-serif;
}
@media screen and (max-width: 1000px) {
  .list-group__heading {
    font-size: 1.4rem;
  }
}
.list-group__list {
  display: flex;
  flex-flow: column nowrap;
}
.list-group__list > div {
  max-width: 100%;
  margin: 1.25rem;
}
@media screen and (max-width: 800px) {
  .list-group__list > div {
    flex-flow: column nowrap;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }
  .list-group__list > div .info {
    text-align: center;
    margin-top: 1rem;
    margin-left: 0;
  }
  .list-group__list > div .info > * {
    width: 100%;
  }
  .list-group__list > div .img-wrapper {
    width: 80%;
    max-width: unset;
  }
}

.list-group__list ~ h2 {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Champagne & Limousines", sans-serif;
  letter-spacing: 0.3px;
  margin: 2rem 0 1.2rem;
}

.content > .list-group__list:first-child {
  margin-top: 3rem;
}
.content > .list-group__list:first-child .event {
  margin: 0;
}

.grid-group__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem 2.5rem;
  margin: 2rem 0;
}
@media screen and (max-width: 800px) {
  .grid-group__list {
    grid-template-columns: 1fr;
  }
}
.grid-group__list > * {
  max-width: min(500px, 100%);
  max-height: 350px;
  place-self: center;
}

.list {
  margin-left: 1.5rem;
}

.headers {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */